/* VERSIONE XS */

/* impostazioni generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}

/* blocco barra di navigazione (prima riga) */

#prima {
  background-color: #2c3e50;
  color: #fff;
}

#prima .navbar {
  height: 70px;
}

#prima .navbar-header {
  height: 85px;
}

#prima .navbar-default {
  background-color: #2c3e50;
  border-color: #2c3e50;
  height: 88px;
}

#prima .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #2c3e50;
  background-color: #2c3e50;
  box-shadow: inset 0 1px 0 rgba(44, 62, 80, 1);
}

#prima .navbar-brand {
  line-height: 70px;
  color: #fff;
  font-size: 17px;
}

#prima .navbar-nav > li > a {
  line-height: 70px;
  color: #fff;
  font-size: 15px;
}

#prima .navbar-nav > li > a:hover {
  color: #18bc9c;
}

#prima .navbar-toggle {
  transform: translateY(70%);
}

#prima .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  background-color: #2c3e50;
}

/* blocco parte principale (main)*/

/* impostazioni generali main */

main section {
  padding: 40px 0;
}

h1 {
  font-size: 40px;
  margin: 30px 0;
}

h2 {
  font-size: 30px;
  margin: 30px 0;
}

h3 {
  font-size: 18px;
  margin: 30px 0;
}

.stellina {
  height: 32px;
  max-width: 400px;
  margin: 30px auto;
}

.stellina .row > .col-xs-3, .col-md-4 {
  height: 16px;
  border-bottom: solid 4px #fff;
}

.stellina .fa-star {
  font-size: 25px;
}

/* blocco titolo (seconda riga) */

#seconda {
  padding-top: 130px;
  background-color: #18bc9c;
  color: #fff;
}

#seconda .github {
  max-width: 100%;
  max-height: 200px;
}

/* blocco portfolio (terza riga)  */

#terza {
  background-color: #fff;
  color: #2c3e50;
}

#terza .stellina .row > .col-xs-3, .col-md-4 {
  border-color: #2c3e50;
}

#terza .container > .row:last-child > [class*=col-] {
  padding: 2%;
}

#terza .layout-img {
  position: relative;
}

#terza .terza-img {
  width: 100%;
  border-radius: 8px;
}

#terza .terza-p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(24, 188, 156, 0.9);
  display: none;
}

#terza p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  margin: 0;
  color: #fff;
}

#terza .layout-img:hover .terza-p {
  cursor: pointer;
  display: block;

}
/* blocco about (quarta riga)  */

#quarta {
  background-color: #18bc9c;
  color: #fff;
}

#quarta p {
  font-size: 15px;
  margin: 30px 0;
}

#quarta .btn {
  background-color: #18bc9c;
  color: #fff;
  font-size: 18px;
  border-color: #fff;
  height: 70px;
  margin-top: 30px;
}

#quarta .btn:hover {
  background-color: #fff;
  color: #2c3e50;
}

/* blocco contact me (quinta riga)  */

#quinta {
  background-color: #fff;
  color: #2c3e50;
}

#quinta .stellina .row > .col-xs-3, .col-md-4 {
  border-color: #2c3e50;
}

#quinta .form-group input,
#quinta .form-group textarea {
  border: none;
  border-bottom: solid 1px #e9ecef;
  box-shadow: none;
  color: #2c3e50;
  margin-bottom: 40px;
  font-size: 15px;
}

#quinta .form-control::placeholder {
  color: #6c757d;
  font-size: 15px;
}

#quinta .btn {
  background-color: rgba(24, 188, 156, 0.8);
  color: #fff;
  width: 90px;
  height: 50px;
  font-size: 18px;
}

#quinta .btn:hover {
  background-color: #18bc9c;
}

/* blocco parte finale (footer)  */

/* blocco indirizza (sesta riga)  */

#sesta {
  background-color: #2c3e50;
  color: #fff;
}

#sesta h4 {
  font-size: 18px;
  margin: 40px 0 20px;
}

#sesta p {
  font-size: 13px;
  padding: 0 13%
}

#sesta ul {
  list-style-type: none;
}

#sesta ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  border: solid 1px #fff;
  line-height: 30px;
}

#sesta ul li a {
  font-size: 16px;
  color: #fff;
}

#sesta ul li:hover {
  background-color: #fff;
}

#sesta ul li:hover a {
  color: #2c3e50;
}

/* blocco copyright (settima riga)  */

#settima {
  background-color: #1a252f;
  color: #fff;
  height: 90px;
  line-height: 90px;
  font-size: 12px;
}

/* MODAL */

.modal {
  color: #2c3e50;
}

.modal .close {
  font-size: 40px;
  color: #18bc9c;
}

.modal .stellina .row > .col-xs-3, .col-md-4 {
  border-color: #2c3e50;
}

.modal-img {
  width: 100%;
}

.modal-footer {
  text-align: center;
}

.modal-footer p {
  font-size: 20px;
}

.modal-footer .btn {
  width: 90px;
  height: 40px;
  background-color: rgba(24, 188, 156, 0.8);
  color: #fff;
  font-size: 18px;
}

.modal-footer .btn:hover {
  background-color: #18bc9c;
}

/* VERSIONE SM */

@media all and (min-width: 768px) {

  #prima .navbar-brand {
    font-size: 20px;
  }

  /* blocco about (quarta riga)  */

  #quarta .p-left {
    padding-left: 5%;
  }

  #quarta .p-right {
    padding-right: 5%;
  }

}

/* VERSIONE MD *//* VERSIONE LG */

@media all and (min-width: 992px) {

  /* blocco barra di navigazione (prima riga) */

  #prima .navbar-brand {
    font-size: 30px;
  }

  #prima .navbar-nav > li > a {
    font-size: 18px;
  }

  /* blocco parte principale (main)*/

  /* impostazioni generali main */

  main section {
    padding: 80px 0;
  }

  h1 {
    font-size: 65px;
  }

  h2{
    font-size: 45px;
  }

  h3 {
    font-size: 23px;
  }

  .stellina .fa-star {
    font-size: 30px;
  }

  /* blocco titolo (seconda riga) */

  #seconda {
    padding-top: 170px;
  }

  #seconda .github {
    max-height: 300px;
  }

  /* blocco about (quarta riga)  */

  #quarta p {
    font-size: 20px;
  }

  /* blocco contact me (quinta riga)  */

  #quinta form {
    margin-top: 50px;
  }

  #quinta .form-group input,
  #quinta .form-group textarea {
    font-size: 20px;
  }

  #quinta .form-control::placeholder {
    font-size: 20px;
  }

  /* blocco parte finale (footer)  */

  /* blocco indirizza (sesta riga)  */

  #sesta h4 {
    font-size: 23px;
  }

  #sesta p {
    font-size: 16px;
  }
  #sesta ul li {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  #sesta ul li a{
    font-size: 22px;
  }

  #settima {
    font-size: 14px;
  }


}
